In [25]:
import numpy as np
import pandas as pd

vdata = {'visit_id':[1,2,4,5,6,7,8],
         'customer_id':[23,9,30,54,96,54,54]}

tdata = {'transaction_id':[2,3,9,12,13],
         'visit_id':[5,5,5,1,2],
         'amount':[310,300,200,910,970]
        }

vdata = {'visit_id':[1,2,4,5,6,7,8],
         'customer_id':[23,9,30,54,96,54,54]}

tdata = {'transaction_id':[2,3,9,12,13],
         'visit_id':[5,5,5,1,2],
         'amount':[np.nan,300,200,910,970]
        }

visits = pd.DataFrame(vdata)
transactions = pd.DataFrame(tdata)

In [28]:
visits,transactions = [x.dropna() for x in [visits,transactions]]

mergeDF = pd.merge(visits,transactions,on='visit_id',how='outer')
nocntDF = mergeDF[mergeDF['amount'].isnull()]

counts = {}
for value in nocntDF['customer_id']:
    counts[value] = counts.get(value, 0) + 1

fdata = {'customer_id':counts.keys(),
         'count_no_trans':counts.values()}

pd.DataFrame(fdata)

   customer_id  count_no_trans
0           30               1
1           96               1
2           54               2