In [40]:
import numpy as np
import pandas as pd

data = {'num':[8,8,3,3,1,4,5,6]}
data = {'num':[8,8,3,3,7,7]}
data = {'num':[8]}

my_numbers = pd.DataFrame(data)

In [41]:
uniq_nums = my_numbers[my_numbers['num'].map(my_numbers['num'].value_counts())<2]
if len(uniq_nums)==0:
    ans = pd.DataFrame(data={'num':[]})
else:
    ans = uniq_nums[uniq_nums['num']==np.max(uniq_nums['num'])]
ans

Empty DataFrame
Columns: [num]
Index: []

In [25]:
uniq_nums[uniq_nums['num']==max(uniq_nums['num'])]

   num
7    6