In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'employee_id':[9,6,4,2],
        'name':['Hercy','Alice','Bob','Winston'],
        'reports_to':[np.nan, 9,9,np.nan],
        'age':[43,41,36,37]}

data = {'employee_id':[1,2,3,4,5,6,7,8],
        'name':['Michael','Alice','Bob','Charlie','David','Eve','Frank','Grace'],
        'reports_to':[np.nan,1,1,2,2,3,np.nan,np.nan],
        'age':[45,38,42,34,40,37,50,48]}

employees = pd.DataFrame(data)

In [3]:
managers = []
avg_age = []
employee_id = []
reports_count = []

for i in list(set(employees['employee_id'])):
    cdf = employees[employees['reports_to']==i]
    if len(cdf)>=1:
        avg_age += [int(np.ceil(np.mean(cdf['age']))+1e-10)]
        managers += list(set(employees[employees['employee_id']==i]['name']))
        employee_id += [i]
        reports_count += [len(cdf)]

results = pd.DataFrame({'employee_id':employee_id,
                        'name':managers,
                        'reports_count':reports_count,
                        'average_age':avg_age}).sort_values('employee_id')
print(results)

   employee_id     name  reports_count  average_age
0            1  Michael              2           40
1            2    Alice              2           37
2            3      Bob              1           37