In [39]:
import numpy as np
import pandas as pd

pdata = {'project_id':[1,1,1,2,2,1,2],
         'employee_id':[1,2,3,1,4,5,5]}

edata = {'employee_id':[1,2,3,4,5,5],
         'name':['Khaled','Ali','John','Doe','Khaled',np.nan],
         'experience_years':[3,2,1,2,0,0]}

project = pd.DataFrame(pdata)
employee = pd.DataFrame(edata)

In [42]:
merged = pd.merge(project,employee,on='employee_id',how='outer')
counted = merged.groupby('project_id').agg({'experience_years':'sum','employee_id':'count'}).reset_index()
counted['average_years'] = round(counted['experience_years']/counted['employee_id'],2)
counted = counted.drop(columns=['experience_years','employee_id'])
print(counted)

   project_id  average_years
0           1           1.20
1           2           1.25