In [1]:
import pandas as pd

data = {'teacher_id':[1,1,1,2,2,2,2],
        'subject_id':[2,2,3,1,2,3,4],
        'dept_id':[3,4,3,1,1,1,1]}

teacher = pd.DataFrame(data)

In [8]:
teacher.groupby('teacher_id').nunique('subject_id').reset_index().drop(columns=['dept_id']).rename(columns={'subject_id':'cnt'})

   teacher_id  cnt
0           1    2
1           2    4