In [59]:
import pandas as pd

data = {
    "machine_id": [0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2],
    "process_id": [0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1],
    "activity_type": [
        "start",
        "end",
        "start",
        "end",
        "start",
        "end",
        "start",
        "end",
        "start",
        "end",
        "start",
        "end",
    ],
    "timestamp": [
        0.712,
        1.52,
        3.14,
        4.12,
        0.55,
        1.55,
        0.43,
        1.42,
        4.10,
        4.512,
        2.5,
        5.0,
    ],
}

data = {
    "machine_id": [0, 1, 0, 0, 1, 1, 0, 1],
    "process_id": [1, 0, 0, 1, 0, 1, 0, 1],
    "activity_type": ["start", "end", "start", "end", "start", "start", "end", "end"],
    "timestamp": [18.891, 81.874, 37.019, 38.098, 25.135, 23.355, 40.222, 90.302],
}

data = {
    "machine_id": [4, 0, 2, 4, 0, 1, 1, 3, 3, 2, 5, 5],
    "process_id": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    "activity_type": [
        "end",
        "start",
        "start",
        "start",
        "end",
        "end",
        "start",
        "end",
        "start",
        "end",
        "start",
        "end",
    ],
    "timestamp": [
        98.227,
        89.478,
        4.06,
        35.617,
        93.686,
        97.821,
        73.793,
        85.537,
        35.138,
        48.225,
        22.284,
        53.926,
    ],
}

data = {
    "machine_id": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    "process_id": [1, 5, 1, 2, 0, 4, 3, 4, 5, 0, 6, 6, 2, 3],
    "activity_type": [
        "end",
        "end",
        "start",
        "end",
        "start",
        "end",
        "end",
        "start",
        "start",
        "end",
        "start",
        "end",
        "start",
        "start",
    ],
    "timestamp": [
        68.229,
        98.027,
        39.154,
        89.098,
        40.833,
        13.484,
        42.616,
        10.405,
        53.392,
        55.906,
        55.876,
        59.742,
        38.845,
        14.59,
    ],
}

activity = pd.DataFrame(data)

In [60]:
activity = activity.sort_values(
    by=["machine_id", "process_id", "timestamp"], ascending=True, ignore_index=True
)
out_m = []
out_a = []
for m in set(list(activity["machine_id"])):
    cur_df = activity[activity.machine_id == m]
    num_lines = len(cur_df)
    ca = 0
    num_machines = int(num_lines / 2)
    for i in range(num_machines):
        cs = cur_df.iloc[i * 2]["timestamp"]
        ce = cur_df.iloc[i * 2 + 1]["timestamp"]
        ca += (ce - cs) / num_machines
    out_m += [m]
    out_a += [round(ca, 3)]

out_data = {"machine_id": out_m, "processing_time": out_a}
out_df = pd.DataFrame(out_data)

    machine_id  process_id activity_type  timestamp
0            0           0         start     40.833
1            0           0           end     55.906
2            0           1         start     39.154
3            0           1           end     68.229
4            0           2         start     38.845
5            0           2           end     89.098
6            0           3         start     14.590
7            0           3           end     42.616
8            0           4         start     10.405
9            0           4           end     13.484
10           0           5         start     53.392
11           0           5           end     98.027
12           0           6         start     55.876
13           0           6           end     59.742
24.858142857142855 24.858

In [61]:
out_df

   machine_id  processing_time
0           0           24.858