In [111]:
import numpy as np
import pandas as pd

data = {'id':[1,2,3,4,5],
        'movie':['War','Science','irish','Ice song','House card'],
        'description':['great 3d','fiction','boring','Fantasy','Interesting'],
        'rating':[8.9,8.5,6.2,8.6,9.1]}

data = {'id':[1,1,2,3,5],
        'movie':['','Science','irish',np.nan,'House card'],
        'description':['great 3d','fiction','boring','Fantasy','Interesting'],
        'rating':[8.9,8.5,6.2,8.6,9.1]}

cinema = pd.DataFrame(data)

In [112]:
data = {'id':[], 'movie':[], 'description':[], 'rating':[]}
rcin = pd.DataFrame(data)

for i in range(len(cinema)):
    row = pd.DataFrame(cinema.iloc[i]).transpose()
    ridx = row['id'].values[0]
    if ridx%2==1:
        if len(rcin)==0:
            rcin = row
        else:
            rcin = pd.concat([rcin,row])
    
rcin = rcin[rcin.description!="boring"]
rcin = rcin.sort_values(by='rating',ascending=False)
rcin

  id       movie  description rating
4  5  House card  Interesting    9.1
0  1         War     great 3d    8.9