In [1]:
import pandas as pd

sdata = {'sale_id':[1,2,7],
        'product_id':[100,100,200],
        'year':[2008,2009,2011],
        'quantity':[10,12,15],
        'price':[5000,5000,9000]
       }

pdata = {'product_id':[100,200,300],
         'product_name':['Nokia','Apple','Samsung']
        }

sales = pd.DataFrame(sdata)
product = pd.DataFrame(pdata)

In [16]:
mergeDF = pd.merge(sales,product,how='outer')
smallDF = mergeDF.drop(columns=['sale_id','product_id','quantity']).dropna()
smallDF['year'] = smallDF['year'].astype('Int64')
smallDF['price'] = smallDF['price'].astype('Int64')
smallDF

   year  price product_name
0  2008   5000        Nokia
1  2009   5000        Nokia
2  2011   9000        Apple