In [3]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

data = {
    "user_id": [1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4],
    "session_id": [1, 1, 1, 4, 4, 4, 2, 2, 2, 3, 3],
    "activity_date": [
        datetime(2019, 7, 20),
        datetime(2019, 7, 20),
        datetime(2019, 7, 20),
        datetime(2019, 7, 20),
        datetime(2019, 7, 21),
        datetime(2019, 7, 21),
        datetime(2019, 7, 21),
        datetime(2019, 7, 21),
        datetime(2019, 7, 21),
        datetime(2019, 6, 25),
        datetime(2019, 6, 25),
    ],
    "activity_type": [
        "open_session",
        "scroll_down",
        "end_session",
        "open_session",
        "send_message",
        "end_session",
        "open_session",
        "send_message",
        "end_session",
        "open_session",
        "end_session",
    ],
}

activity = pd.DataFrame(data)

In [24]:
# Apply time window
t0, t1 = datetime(2019, 7, 27) - pd.Timedelta("30d"), datetime(2019, 7, 27)
activity = activity.loc[
    (activity["activity_date"] > t0) & (activity["activity_date"] <= t1)
]

# Collect unique active users for each date
activity.groupby("activity_date").nunique("user_id").reset_index().drop(
    columns=["session_id", "activity_type"]
).rename(columns={"user_id": "active_users", "activity_date": "day"})

         day  active_users
0 2019-07-20             2
1 2019-07-21             2