In [1]:
import pandas as pd

data = {
    "tweet_id": [1, 2],
    "content": ["Let us Code", "More than fiften chars are here!"],
}

data = {
    "tweet_id": [452, 179, 285],
    "content": ["kWgN63Xj2TFhYDtH0", "QFAxkwVQvLTdThlmt", "TTgk"],
}

tweets = pd.DataFrame(data)

In [2]:
tweet_copy = pd.DataFrame()
for i in range(len(tweets)):
    if len(tweets.iloc[i].content) > 15:
        tweet_copy = pd.concat([tweet_copy, pd.DataFrame(tweets.loc[i]).transpose()])

filterDF = tweet_copy.drop(columns=["content"])
filterDF

  tweet_id
0      452
1      179