In [3]:
import numpy as np
import pandas as pd
from datetime import datetime

data = {
    "id": [1, 2, 3, 4],
    "recordDate": ["2015-01-01", "2015-01-02", "2015-01-03", "2015-01-04"],
    "temperature": [10, 25, 20, 30],
}

data = {
    "id": [2, 1, 4, 3],
    "recordDate": ["2015-01-02", "2015-01-01", "2015-01-04", "2015-01-03"],
    "temperature": [25, 10, 30, 20],
}

data = {
    "id": [1, 2, 3, 4],
    "recordDate": ["2015-01-01", "2015-01-02", "2015-01-03", "2015-01-04"],
    "temperature": [10, 10, np.nan, 30],
}

data = {
    "id": [1, 2],
    "recordDate": ["2000-12-16", "2000-12-15"],
    "temperature": [3, -1],
}

data = {"id": [1, 2], "recordDate": ["2000-12-14", "2000-12-16"], "temperature": [3, 5]}

data = {
    "id": [1, 2, 3, 4],
    "recordDate": ["2015-01-31", "2015-02-01", "2015-02-03", "2015-02-04"],
    "temperature": [10, 25, 20, 30],
}

weather = pd.DataFrame(data)
weather["recordDate"] = [
    datetime.strptime(x, "%Y-%m-%d") for x in weather["recordDate"]
]

In [8]:
weather = weather.dropna()
weather = weather.sort_values(by="recordDate")

id = []
for i in range(1, len(weather)):
    t0 = weather.iloc[i - 1]["temperature"]
    d0 = weather.iloc[i - 1]["recordDate"]
    t1 = weather.iloc[i]["temperature"]
    d1 = weather.iloc[i]["recordDate"]
    daydiff = (d1 - d0).days
    if (daydiff == 1) and (t1 > t0):
        id += [weather.iloc[i]["id"]]

idata = {"id": id}
out = pd.DataFrame(idata)
out

   id
0   2
1   4