In [11]:
import pandas as pd

data = {
    "student": ["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    "class": [
        "Math",
        "English",
        "Math",
        "Biology",
        "Math",
        "Computer",
        "Math",
        "Math",
        "Math",
    ],
}

data = {
    "student": ["A", "B", "C", "D", "E", "F", "A", "A", "A"],
    "class": [
        "Math",
        "English",
        "Math",
        "Biology",
        "Math",
        "Computer",
        "Math",
        "Math",
        "Math",
    ],
}

data = {
    "student": ["A", "B", "D", "E", "F"],
    "class": ["Math", "English", "Biology", "Math", "Computer"],
}

data = {
    "student": ["A", "A", "A", "A", "A"],
    "class": ["Computer", "Computer", "Computer", "Computer", "Computer"],
}

find_classes = pd.DataFrame(data)

In [12]:
class_count = find_classes.groupby("class").nunique("student").reset_index()
class_count[class_count["student"] >= 5].drop(columns=["student"])

Empty DataFrame
Columns: [class]
Index: []