In [1]:
import pandas as pd

In [6]:
data = {
    "personId": [1, 2],
    "lastName": ["Wang", "Alice"],
    "firstName": ["Allen", "Bob"],
}
person = pd.DataFrame(data)
data = {
    "addressId": [1, 2],
    "personId": [2, 3],
    "city": ["New York City", "Leetcode"],
    "state": ["New York", "California"],
}
address = pd.DataFrame(data)

In [21]:
# Combine tables
comb_table = pd.merge(person, address, how="left", on="personId")
# Drop columns
comb_table = comb_table.drop(columns=["personId", "addressId"])
# Reorder dataframe
comb_table = comb_table.reindex(columns=["firstName", "lastName", "city", "state"])
comb_table

  firstName lastName           city     state
0     Allen     Wang            NaN       NaN
1       Bob    Alice  New York City  New York